/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

$full-width: 710px;
$background-color: #cff;
$link-color: #09c;
$visited-link-color: #069;

.container {
  width: $full-width;
}

body {
  background: $background-color;
}

header {
  padding-top: 20px;

  img {
    padding: 1em;
    background: white;
  }
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: white;

  h1 {
    font-size: 200%;
  }
}

/* Links */

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $visited-link-color;
    text-decoration: underline;
  }

  &:visited {
    color: $visited-link-color;
  }
}

/* Navigation */

nav {
  float: right;
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      display: inline-block;
      padding: 0.2em 0;

      a {
        padding: 0 5px;
        font-weight: bold;

        &:visited {
          color: $link-color;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: white;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

footer {
  text-align: center;
  margin-top: 10px;
  width: $full-width;
  margin-left: auto;
  margin-right: auto;

  nav {
    float: none;
  }
}